.bola {
	stroke: #ccc;
	stroke-width: 4;
	fill: white
}

.linha {
	fill: #ccc;
	stroke-width: 0;
	stroke: rgb(0, 0, 0)
}

.texto {
	fill: #ccc;
	font-weight: bold;
	font-size: 80%;
	/* font: 80% verdana, sans-serif; */
}

.textocomplemento {
	fill: #ccc;
	font-weight: bold;
	font-size: 80%;
	/* font: 80% verdana, sans-serif; */
}

.textointerno {
	pointer-events: none;
	fill: #ccc;
	font-weight: bold;
	/* font: 100% verdana, sans-serif; */
}

.passou CIRCLE {
	stroke: black;
}

.esta CIRCLE {
	stroke: #f0ad4e !important;
	/* fill: rgba(240, 173, 78, 20) !important; */
}

.esta LINE {
	stroke: #f0ad4e !important;
	stroke-width: 3;
}

MARKER {
	fill: #f0ad4e !important;
}

.esta TEXT.textocomplemento {
	fill: #f0ad4e;
}

.passou RECT {
	fill: #0275d8;
}

.passou TEXT.texto {
	fill: #0275d8;
}

.passou TEXT.textointerno {
	fill: black;
}