<div class="container-fluid content">
	<div class="row">
		<div class="col-md-12">
			<h4 class="text-center mt-3 mb-3">Petição Inicial</h4>
		</div>
	</div>

	<div class="row pb-4" ng-show="arquivos.length == 0">
		<div class="col-md-12">
			<div id="ngf" ngf-drop ngf-select ng-model="files"
				ngf-model-invalid="invalidFiles" class="drop-box"
				ngf-drag-over-class="'dragover'" ngf-multiple="true"
				ngf-allow-dir="true" accept="application/pdf" ngf-max-size="5MB"
				ngf-pattern="'application/pdf'">
				Arraste os arquivos que compoem a petição inicial e solte eles nesta
				área, ou clique aqui para selecioná-los.<br />Use o nome dos PDFs
				para ordenar as peças, por exemplo: 01-Termo.pdf, 02-Identidade.pdf,
				etc.<br />Cada PDF está limitado a 5MB.
			</div>
			<div ngf-no-file-drop>Arrastar e soltar aquivos não é possível
				nesse navegador. Por favor, utilize o Google Chrome.</div>
		</div>
		<div class="col-md-12 mt-3" ng-if="(invalidFiles||[]).length > 0">
			<div class="alert alert-danger mb-0">
				<strong>Arquivos inválidos!</strong> Não foi possível aceitar os
				seguintes arquivos:
				<ul class="mb-0">
					<li ng-repeat="if in invalidFiles">{{if.name}}
						({{if.$error.replace("maxSize", "tamanho é maior que
						").replace("pattern", "só é permitido o tipo ")}}
						{{if.$errorParam.replace("application/pdf", "PDF")}})</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row" ng-if="arquivos.length > 0">
		<div class="col-sm-6">
			<h5 class="mt-3 mb-2">Arquivos</h5>
		</div>
		<div class="col-sm-6" style="height: 100%">
			<button type="button" ng-click="adicionarArquivo()"
				class="btn btn-info btn-sm mt-2 pull-right">Adicionar
				Arquivo</button>
		</div>
	</div>
	<div class="row" ng-if="arquivos.length > 0">
		<div class="col-sm-12">
			<table class="table table-peticao">
				<thead class="thead-inverse">
					<tr>
						<th>Tipo</th>
						<th>Segredo</th>
						<th>Descrição</th>
						<th>Arquivo</th>
						<th>Status</th>
						<th style="text-align: center" ng-if="editando"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="f in arquivos track by $index"
						ng-class="{odd: f.odd}">
						<td><select style="min-width: 8em;"
							class="form-control mr-sm-2" ng-model="f.tipo"
							ng-change="selecionarTipo(f, f.tipo)"
							ng-options="tipo.id as tipo.descricao for tipo in tipospeca">
								<option disabled hidden selected value="">[Selecionar]</option>
						</select></td>

						<td><select style="min-width: 4em;"
							class="form-control mr-sm-2" ng-model="f.segredo"
							ng-change="selecionarSegredo(f, f.segredo)"
							ng-options="segredo.codigo as segredo.nome for segredo in segredos">
								<option disabled hidden selected value="">[Selecionar]</option>
						</select></td>

						<td><input type="text" class="form-control mr-sm-2"
							ng-model="f.descricao" placeholder="Descrição" /></td>

						<td><a ng-click="view(doc)"><a
								href="api/v1/arquivo-temporario/{{f.id}}" target="_blank">{{f.nome}}</span></a></td>

						<td class="status-td" rowspan="{{f.protocolado ? f.rowspan : 1}}"
							ng-show="f.protocolado ? !f.anexo : true"><span
							ng-show="f.perc &amp;&amp; f.perc < 100">{{f.perc}}%</span><span
							ng-class="{green: f.protocolado}"
							ng-show="f.perc == 100 &amp;&amp; !f.errormsg">{{f.status}}</span><span
							ng-show="f.perc == 100 &amp;&amp; f.errormsg"
							ng-class="{red: true}">{{f.errormsg}}</span><span
							ng-show="f.$error">{{f.$error}} {{f.$errorParam}}</span></td>

						<td align="center" ng-if="editando">
							<button type="button" ng-click="removerArquivo(f)"
								class="btn btn-sm btn-outline-danger">&#x274C;</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h5 class="mt-3 mb-2">Dados Básicos</h5>
		</div>
	</div>
	<div class="pt-3 pb-3 pl-3 pr-3" style="background-color: #f7f7f9">
		<div class="row">
			<div class="form-group col-md-3">
				<label for="localidade">Localidade</label> <select
					class="form-control" id="localidade">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
			<div class="form-group col-md-3">
				<label for="especialidade">Especialidade</label> <select
					class="form-control" id="especialidade">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
			<div class="form-group col-md-4">
				<label for="classe">Classe</label> <select class="form-control"
					id="classe">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>

			<div class="form-group col-md-2">
				<label for="valor">Valor da Causa</label> <input type="text"
					class="form-control" id="valor" aria-describedby="valorDaCausa"
					placeholder="0,00">
			</div>
			<div class="form-check col-md-3">
				<label class="form-check-label"> <input type="checkbox"
					class="form-check-input"> Segredo de Justiça
				</label>
			</div>
			<div class="form-check col-md-3">
				<label class="form-check-label"> <input type="checkbox"
					class="form-check-input"> Justiça Gratuita
				</label>
			</div>
			<div class="form-check col-md-3">
				<label class="form-check-label"> <input type="checkbox"
					class="form-check-input"> Tutela Liminar/Antecipada
				</label>
			</div>
			<div class="form-check col-md-3">
				<label class="form-check-label"> <input type="checkbox"
					class="form-check-input"> Prioridade de Idoso
				</label>
			</div>
		</div>
	</div>

	<div class="row mt-3">
		<div class="col-sm-6">
			<h5 class="mt-3 mb-2">Partes</h5>
		</div>
		<div class="col-sm-6" style="height: 100%">
			<button type="button" ng-click="adicionarParte()"
				class="btn btn-info btn-sm mt-2 pull-right">Adicionar Parte</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-peticao">
				<thead class="thead-inverse">
					<tr>
						<th>Polo</th>
						<th>Tipo</th>
						<th>Nome</th>
						<th>Documento</th>
						<th style="text-align: center"</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="p in partes track by $index">
						<td><select class="form-control mr-sm-2" ng-model="p.polo"
							ng-change="selecionarPolo(p, p.polo)"
							ng-options="polo.id as polo.descricao for polo in polos">
								<option disabled hidden selected value="">[Selecionar]</option>
						</select></td>
						<td><select class="form-control mr-sm-2"
							ng-model="p.tipopessoa"
							ng-change="selecionarTipoPessoa(p, p.tipopessoa)"
							ng-options="tipopessoa.id as tipopessoa.descricao for tipopessoa in tipospessoa">
								<option disabled hidden selected value="">[Selecionar]</option>
						</select></td>

						<td><input type="text" class="form-control mr-sm-2"
							ng-model="p.nome" placeholder="Nome Completo" /></td>

						<td><input type="text" class="form-control mr-sm-2"
							ng-model="p.documento" placeholder="CPF" /></td>

						<td align="center" ng-if="editando">
							<button type="button" ng-click="removerParte(p)"
								class="btn btn-sm btn-outline-danger">&#x274C;</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-12">
			<button type="button" ng-click="peticionar()" id="prosseguir"
				ng-disabled="!isAllValid() &amp;&amp; arquivos.length == 0"
				class="btn btn-primary pull-right no-print mt-3">Protocolar</button>
		</div>
	</div>
</div>