.red {
	color: red;
}

.protocolado {
	color: green;
}

.odd {
	background-color: rgba(0, 0, 0, .05);
}

.card-consulta-processual DIV P B {
	color: #fff;
}

.card-consulta-processual DIV P {
	margin-bottom: 0.5rem;
}

.card-consulta-processual DIV I {
    line-height: 3rem;
    heigth: 3rem;
	color: #fff;
	float: right;
	font-size: 4rem;
	margin: 0rem -0.5rem 0rem 0rem;
}

.card-text-descr {
	margin-bottom: 0;
}