
<!--=== Profile ===-->
<div class="container content profile">
	<div class="row pt-5" ng-if="errormsg !== undefined">
		<div class="col col-sm-12">
			<p class="alert alert-danger">
				<strong>Erro!</strong> {{errormsg}}
			</p>
		</div>
	</div>

	<div ng-if="!errormsg">

		<div class="row xvisible-print-block mt-3 mb-3">
			<div class="col-md-12">
				<h4 class="text-center mb-0">
					Processo<span
						ng-if="proc.dadosBasicos.outroParametro.indEletronico == 'S'">
						Digital</span><span
						ng-if="proc &amp;&amp; proc.dadosBasicos.outroParametro.indEletronico != 'S'">
						Físico</span>: {{proc.dadosBasicos.numero}}
				</h4>
			</div>
		</div>

		<!-- QUADROS COLORIDOS -->
		<div class="row hidden-print mt-3" ng-if="errormsg === undefined">
			<!-- Profile Content -->
			<div class="card-deck col">
				<div
					class="card card-inverse card-primary card-consulta-processual mb-3">
					<div class="card-block" ng-click="mostrarPartes()">
						<i class="icon icon-users hidden-print"></i>
						<p class="card-text">
							<small>{{proc.fixed.partesAtivas[0].tipoAtuacao}}</small> <br />
							<b>{{proc.fixed.partesAtivas[0].pessoa.nome}}</b> <b
								ng-if="proc.fixed.partesAtivas.length>1">&nbsp;<a href="">+{{proc.fixed.partesAtivas.length-1}}</a>
							</b>
						</p>
						<p class="card-text">
							<small>{{proc.fixed.partesPassivas[0].tipoAtuacao}}</small> <br />
							<b>{{proc.fixed.partesPassivas[0].pessoa.nome}}</b><b
								ng-if="proc.fixed.partesPassivas.length>1">&nbsp;<a href=""
								ng-click="mostrarPartes()">+{{proc.fixed.partesPassivas.length-1}}</a></b>
						</p>
						<a ng-if="!partes" class="card-link pull-right" href=""
							ng-click="mostrarPartes()">Ver partes...</a>
					</div>
				</div>

				<div
					class="card card-inverse card-success card-consulta-processual mb-3">
					<div class="card-block">
						<i class="icon icon-judicialgavel hidden-print"
							style="float: right"></i>
						<p class="card-text" ng-if="false">
							<small>PROCESSO<span
								ng-if="proc.dadosBasicos.outroParametro.indEletronico == 'S'">
									DIGITAL</span><span
								ng-if="proc &amp;&amp; proc.dadosBasicos.outroParametro.indEletronico != 'S'">
									FÍSICO</span></small><br /> <b>{{proc.dadosBasicos.numero}}</b>
						</p>
						<p class="card-text">
							<small>DATA DE DISTRIBUIÇÃO</small><br /> <b
								ng-bind-html="proc.fixed.dataAjuizamento"></b>
						</p>
						<p class="card-text">
							<small>ÓRGÃO JULGADOR</small><br /> <b style="color: #fff">{{proc.dadosBasicos.orgaoJulgador.nomeOrgao}}</b>
						</p>

						<p class="card-text">
							<small>MAGISTRADO</small><br /> <b>{{proc.dadosBasicos.magistradoAtuante.join(',
								')}}</b>
						</p>
					</div>
				</div>


				<div
					class="card card-inverse card-warning card-consulta-processual mb-3">
					<div class="card-block" ng-click="mostrarDadosComplementares()">
						<i class="icon icon-monitor hidden-print"></i>
						<p class="card-text">
							<small>VALOR DA CAUSA</small><br /> <b>{{proc.fixed.valorCausa}}</b>
						</p>
						<p class="card-text">
							<small>CLASSE</small> <br /> <b>{{proc.fixed.classeProcessualDescricao}}</b>
						</p>
						<p class="card-text" ng-if="proc.fixed.assuntoPrincipalDescricao">
							<small>ASSUNTO PRINCIPAL</small> <br /> <b>{{proc.fixed.assuntoPrincipalDescricao}}</b>
						</p>
						<p class="card-text"
							ng-if="proc.dadosBasicos.outroParametro.numCDA">
							<small>CDA</small> <br /> <b>{{proc.dadosBasicos.outroParametro.numCDA[0]}}</b>
							<b ng-if="proc.dadosBasicos.outroParametro.numCDA.length>1">&nbsp;<a
								href="">+{{proc.dadosBasicos.outroParametro.numCDA.length-1}}</a></b>
						</p>
						<a ng-if="!dadosComplementares" class="card-link pull-right"
							href="" ng-click="mostrarDadosComplementares()">Ver mais...</a>
					</div>
				</div>
			</div>
		</div>

		<div ng-class="{row: true, 'visible-print-block': !partes}">
			<div class="col col-sm-12">
				<div class="card mb-3 card-outline-primary">
					<div class="card-header">
						Partes
						<button type="button" class="close hidden-print"
							ng-click="partes = false">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="card-block pb-0"
						ng-repeat="polo in proc.dadosBasicos.polo">
						<h6 class="card-subtitle mb-2 text-muted">
							<u>Pólo {{(polo.polo == 'AT') ? 'Ativo' : 'Passivo'}}</u>
						</h6>
						<div class="row" ng-repeat-start="parte in polo.parte">
							<div class="col col-sm-6">
								<label>{{parte.tipoAtuacao}}</label>
								<p>{{parte.pessoa.nome}}</p>
							</div>
							<div class="col col-sm-3">
								<label>Tipo</label>
								<p>{{parte.pessoa.tipoPessoa}}</p>
							</div>
							<div class="col col-sm-3">
								<label>Assistência Judiciária</label>
								<p>{{parte.assistenciaJudiciaria ? "Sim" : "Não"}}</p>
							</div>
						</div>
						<div class="row" ng-repeat="adv in parte.advogado">
							<div class="col offset-sm-1 col-sm-5">
								<label>{{tipoRepresentante[adv.tipoRepresentante]}}</label>
								<p>{{adv.nome}}</p>
							</div>
							<div class="col col-sm-3">
								<label>Inscrição</label>
								<p>{{adv.inscricao}}</p>
							</div>
							<div class="col col-sm-3">
								<label>Intimação</label>
								<p>{{adv.intimacao ? "Sim" : "Não"}}</p>
							</div>
						</div>
						<div ng-repeat-end></div>
					</div>
				</div>
			</div>
		</div>

		<!-- QUADRO SUBSTITUTO PARA A IMPRESSAO -->
		<div class="row visible-print-block">
			<div class="col col-sm-12">
				<div class="card mb-3 card-outline-success">
					<div class="card-header">Dados Principais</div>
					<div class="card-block pb-0">
						<div class="row">
							<div class="col col-sm-3">
								<label>Data/Hora de Distribuição</label>
								<p ng-bind-html="proc.fixed.dataAjuizamento"></p>
							</div>
							<div class="col col-sm-3">
								<label>Órgão Julgador</label>
								<p>{{proc.dadosBasicos.orgaoJulgador.nomeOrgao}}</p>
							</div>
							<div class="col col-sm-3">
								<label>Magistrado</label>
								<p>{{proc.dadosBasicos.magistradoAtuante.join(', ')}}</p>
							</div>
							<div class="col col-sm-3">
								<label>Valor da Causa</label>
								<p>{{proc.fixed.valorCausa}}</p>
							</div>
						</div>
						<div class="row">
							<div class="col col-sm-3">
								<label>Classe Processual</label>
								<p>{{proc.fixed.classeProcessualDescricao}}</p>
							</div>
							<div class="col col-sm-3"
								ng-if="proc.fixed.assuntoPrincipalDescricao">
								<label>Assunto Principal</label>
								<p>{{proc.fixed.assuntoPrincipalDescricao}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div
			ng-class="{row: true, 'visible-print-block': !dadosComplementares}">
			<div class="col col-sm-12">
				<div class="card mb-3 card-outline-warning">
					<div class="card-header">
						Dados Complementares
						<button type="button" class="close hidden-print"
							ng-click="dadosComplementares = false">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="card-block pb-0">
						<div class="row">
							<div class="col col-sm-3"
								ng-if="proc.dadosBasicos.outroParametro.dataConsulta">
								<label>Data de Protocolo</label>
								<p ng-bind-html="proc.dadosBasicos.outroParametro.dataProtocolo"></p>
							</div>

							<div class="col col-sm-3"
								ng-if="proc.dadosBasicos.outroParametro.numProcAdm">
								<label>Processos Administrativos</label>
								<p ng-bind-html="proc.dadosBasicos.outroParametro.numProcAdm"></p>
							</div>

							<div class="col col-sm-3" ng-if="proc.fixed.numCDAs">
								<label>CDA's</label>
								<p ng-bind-html="proc.fixed.numCDAs"></p>
							</div>

							<div class="col col-sm-3"
								ng-if="proc.dadosBasicos.outrosnumeros[0]">
								<label>Número Antigo</label>
								<p ng-bind-html="proc.dadosBasicos.outrosnumeros[0]"></p>
							</div>

							<div class="col col-sm-6"
								ng-if="proc.dadosBasicos.outroParametro.peticaoPendenteJuntada">
								<label>Petições Pendentes de Juntada</label>
								<p
									ng-bind-html="proc.dadosBasicos.outroParametro.peticaoPendenteJuntada"></p>
							</div>

							<div class="col col-sm-3"
								ng-if="proc.dadosBasicos.outroParametro.processoOriginario">
								<label>Processo Originário</label>
								<p
									ng-bind-html="proc.dadosBasicos.outroParametro.processoOriginario"></p>
							</div>

							<div class="col col-sm-3"
								ng-if="proc.dadosBasicos.outroParametro.processoVinculado">
								<label>Processos Vinculados</label>
								<p
									ng-bind-html="proc.dadosBasicos.outroParametro.processoVinculado"></p>
							</div>

							<div class="col col-sm-12">
								<label>Classe Processual</label>
								<p>{{proc.fixed.classeProcessualDescricaoCompleta}}</p>
							</div>
							<div class="col col-sm-12">
								<label>Assuntos</label>
								<p ng-repeat="ass in proc.dadosBasicos.assunto">{{ass.descricaoCompleta}}</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" ng-if="errormsg === undefined">
			<div class="col col-sm-12">
				<table class="table table-sm mb-0">
					<thead class="thead-inverse">
						<tr>
							<th>Data/Hora</th>
							<th>Movimento</th>
							<th>Peça</th>
							<th>Página Inicial</th>
							<th>Página Final</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat-start="movdoc in proc.fixed.movdoc"
							ng-class="{odd: movdoc.odd}">
							<td ng-if="movdoc.rowspan" rowspan="{{movdoc.rowspan}}"><span
								ng-bind-html="formatDDMMYYYHHMM(movdoc.mov.dataHora)"></span></td>
							<td ng-if="movdoc.rowspan" rowspan="{{movdoc.rowspan}}"
								ng-class="{'text-success-dark': movdoc.doc.exibirTexto !== undefined}">{{movdoc.mov.movimentoLocal.descricao}}</td>
							<td><a href="" target="_blank"
								ng-click="mostrarPeca(movdoc.doc.idDocumento)">{{movdoc.doc.descricao}}</a>
								<a href="" ng-if="movdoc.doc.exibirTexto == false"
								class="text-success" ng-click="mostrarTexto(movdoc.doc, true)">(Texto)</a></td>
							<td>{{movdoc.doc.outroParametro.paginaInicial}}</td>
							<td>{{movdoc.doc.outroParametro.paginaFinal}}</td>
						</tr>
						<tr ng-repeat-end ng-show="movdoc.doc.exibirTexto"
							ng-class="{odd: movdoc.odd}">
							<td colspan="5">
								<p class="alert alert-success mb-0 alert-dismissible fade show"
									role="alert">
									<button type="button" class="close hidden-print"
										ng-click="mostrarTexto(movdoc.doc, false)">
										<span aria-hidden="true">&times;</span>
									</button>
									<span
										ng-bind-html="formatTexto(movdoc.doc.outroParametro.textoMovimento)"></span>
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col col-sm-12">
				<button type="button" ng-click="imprimir()" id="imprimir"
					class="btn btn-info pull-right no-print mt-3">Imprimir</button>
			</div>
		</div>

		<div class="row">
			<div class="col col-sm-12">
				<hr class="mt-5 mb-1" />
				<p class="text-center">
					As informações aqui contidas não produzem efeitos legais. Somente a
					publicação no D.O. tem validade para contagem de prazos.<br />Consulta
					realizada em: {{proc.dadosBasicos.outroParametro.dataConsulta}}.
				</p>
			</div>
		</div>
	</div>
</div>