<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<filter>
		<filter-name>CacheControlFilterNoCache</filter-name>
		<filter-class>br.jus.trf2.balcaovirtual.CacheControlFilterNoCache</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CacheControlFilterNoCache</filter-name>
		<url-pattern>/</url-pattern>
		<url-pattern>/index.html</url-pattern>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CacheControlFilterCache</filter-name>
		<filter-class>br.jus.trf2.balcaovirtual.CacheControlFilterCache</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CacheControlFilterCache</filter-name>
		<url-pattern>/static/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>BalcaoVirtualServlet</servlet-name>
		<servlet-class>br.jus.trf2.balcaovirtual.BalcaoVirtualServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BalcaoVirtualServlet</servlet-name>
		<url-pattern>/api/v1/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>br.jus.trf2.balcaovirtual.UploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/api/upload</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
